@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated_font {
  font-family: inherit;
  font-weight: 900;
  background: linear-gradient(
    to right,
    var(--start-color, var(--ink-blue)),
    var(--target-color, #1cb5e0)
  );
  /*linear-gradient(-90deg, #f72585, #b5179e, #7209b7);***/
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0em;
  background-size: 300% 100%;
  animation: GradientBackground 6s ease infinite;
}
