.page_container {
  height: 100vh;
  max-height: 100vh;
  height: 100dvh;
  max-height: 100dvh;
  width: 100vw;
  overflow: scroll;
  position: relative;
}

.main {
  max-width: var(--spacer);
  margin: 1rem auto;
}
