.content {
  grid-area: title;
  text-align: left;
}

.content > :first-child {
  margin-bottom: 0.5rem;
}

.content h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

.content p {
  font-size: 1rem;
  line-height: 18px;
}

.action {
  grid-area: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_container {
  border: none;
  display: flex;
  background: none;
}
