.container {
  position: relative;
  height: 3rem;
  width: 3rem;
}

.logo {
  display: block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-image: linear-gradient(
    -180deg,
    var(--ink-blue),
    var(--sand-background)
  );
}
