.wrapper {
  margin: 0 auto;
  border-radius: 8px;
  background: linear-gradient(0.25turn, var(--card-background), pink);
  /* radial-gradient(300px at 50% 120%, #ffdf73 30%, #f6afb5 , #e9caf7, #cfeeff);
   linear-gradient(0.25turn, $bg, pink); */
  padding: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-gap: 1rem;
  box-shadow: 10px 10px 10px #c1c1c1;
  transition: all 0.1s ease-in;
}

.wrapper:hover {
  transform: rotateX(5deg) rotateY(5deg);
  box-shadow: 20px 30px 20px #c1c1c1;
}
