.container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hero_container {
  display: flex;
  padding: 1em;
  text-align: left;
  line-height: 3.5rem;
}

.hero_container span {
  margin-right: 0.5rem;
}

.hero {
  font-size: 3rem;
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated_font {
  font-family: inherit;

  font-weight: 900;
  background: linear-gradient(to right, #000046, #1cb5e0);
  /*linear-gradient(-90deg, #f72585, #b5179e, #7209b7);***/
  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;
  letter-spacing: 0em;

  background-size: 300% 100%;
  animation: GradientBackground 4s ease infinite;
}
