.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  padding: 2rem;
}

.grid {
  margin-top: 3rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  transform: rotate3d(1, -1, -1, 320deg);
  height: fit-content;
}

.cell {
  transform-style: preserve-3d;
  height: 100px;
  width: 100px;
  border: 1.5px solid;
  position: relative;
  background: white;
}

.tech_element {
  top: 30px;
  position: absolute;
  border: 1px solid;
}
