.swipe_lead {
  height: 32px;
  width: 64px;
  stroke-width: 2px;
  
}

.swipe_lead:after {
  content: '';
  position: absolute;
  z-index: 11;
  left: 0;
  width: 16px;
  height: 8px;
  background: white;
}

.swipe_lead::before {
  content: '';
  position: absolute;
  z-index: 11;
  right: 0;
  width: 16px;
  height: 8px;
  background: white;
}

.main_container {
  max-height: calc(80vh - 17px); /*For Firefox */
  max-height: calc(80dvh - 17px);
}
