@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
@import url("https://rsms.me/inter/inter.css");

:root {
  --blue: #001858;
  /* --orange: #FFB253;
  --sanguine: #EC715A;
  --berry: #BA3C67;
  --neon-green: #00E2B4; */
}

body {
  background: #fef6e4;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
  color: #001858;
  margin: 0;
}

h4,
p {
  font-family: "Inter var", sans-serif;
  color: #001858;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
