@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-border-radius: 8px;

  --header-height: 64px;

  --ink-blue: #001858;
  --sand-background: #fef6e4;
  --orange: #ffb253;
  --sanguine: #ec715a;
  --berry: #ba3c67;
  --neon-green: #00e2b4;

  --spacer: 90vw;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--sand-background);
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  position: fixed;
  overflow: hidden;
}
