@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
@import url("https://rsms.me/inter/inter.css");

:root {
  --card-border-radius: 8px;

  --header-height: 64px;

  --blue: #001858;
  --sand-background: #fef6e4;
  --orange: #ffb253;
  /* 
  --sanguine: #EC715A;
  --berry: #BA3C67;
  --neon-green: #00E2B4; */

  --spacer: 90%;
}

@media screen and (min-width: 720px) {
  :root {
    --spacer: 75%;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--sand-background);
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
  color: var(--blue);
  margin: 0;
}

h4,
p {
  /* font-family: "Inter var", sans-serif; */
  color: var(--blue);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
